# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_FLIPDK
	select SOC_FLIP_ENGA_CPUAPP if BOARD_FLIPDK_FLIP_CPUAPP
	select SOC_FLIP_ENGA_CPUFLPR if BOARD_FLIPDK_FLIP_CPUFLPR